@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #38bdf8;
  color: black;
}
